* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.counters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: #b19b9b;
}

.count1 {
  text-align: center;
  margin: 20px;
}

.count1 button {
  padding: 10px;
  background-color: #1ce023ef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.count2 {
  text-align: center;
  margin: 20px;
}
.count2 button {
  padding: 10px;
  background-color: #1ce023ef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

h1 {
  margin-bottom: 20px;
  font-size: 54px;
}
